body,html{
    font-family: 'Montserrat', sans-serif;
}

.header-div{
    width: 100%;
    background-color: rgb(56,118,249);
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

.btn-logout{
    background-color: rgb(252, 173, 54);
    border: 0;
    padding: 10px 56px;
    font-size: x-large;
}

.user-name-p{
    color:white;
    margin-right: 10px;
}

.cards-div{
    margin: 30px 20px;
    color: white;
    width: unset;
}

.col-4-card{
    background-image: linear-gradient(to right, rgb(51,110,248), rgb(75,144,253));
    border-radius: 15px;
    padding: 0px 0px 10px 30px;
    border:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0px 10px 0px;
}

.cancelled-trips-card{
    border-right: 1px solid rgba(245, 245, 245, 0.575);
    border-left: 1px solid rgba(245, 245, 245, 0.575);
    padding-left: 40px;
}

.red-card{
    background-image: linear-gradient(to right,rgb(198,35,42), rgb(241,29,64));
    border-radius: 15px;
    padding: 0px 0px 23px 30px;
    border:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0px 20px 0px;
}

.container-fluid>:nth-child(1){
    justify-content: space-between;
}

.col-12-card{
    background-image: linear-gradient(to right, rgb(2,172,175), rgb(0,198,172));
    border-radius: 15px;
    padding: 20px 0px 20px 20px;
    border:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 0px 20px 0px;
}

.trips-col-12-card{
    background-image: linear-gradient(to right,rgb(104,102,255), rgb(111,154,255));
    justify-content: center;
}

.from-trips{
    float: right;
    background-color: rgb(37,44,227);
    padding: 5px 50px 15px 15px;
    border-radius: 0px 15px 0px 15px;
}

.trips-text{
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    color: rgb(8, 253, 151);
}

.trips-digits{
    font-size: 1.7em;
    margin: -5px 0px;
    font-weight: 700;
}

.money-div{
    font-size: 3.1em;
}

.trips-col-12-card .money-div{
    padding: 20px 0;
}

.radio-button-group{
    margin: 20px 0px 20px 0;
    font-size: 0.9em;
    width: 100%;
}

.radio-label{
    margin-right: 15px;
}

.radio-label>input[type=radio]{
    height: 1.3em;
    width: 1.3em;
    vertical-align: top;
}

.complains-sub-div{
    font-size: 1.3em;
}

.drivers-div{
    padding: 0px 0;
}

.driver-details-card{
    border-right: 1px solid rgba(245, 245, 245, 0.575);
}

@media screen and (max-width: 990px){
    .driver-details-card{
        border-bottom: 1px solid rgba(245, 245, 245, 0.575);
        padding: 0 0 20px 0;
    }

    .red-card{
        margin-left: auto; 
    }

    .col-4-card{
        margin-left: auto
    }

    .cancelled-trips-card{
        border-top: 1px solid rgba(245, 245, 245, 0.575);
        border-bottom: 1px solid rgba(245, 245, 245, 0.575);
        border-left: none;
        border-right: none;
        padding: 0 0 20px 0;
    }
    
    .radio-label{
        width: 100%;
    }

    .trips-col-12-card{
        padding: 0px;
    }

    .total-profit-card, .total-business-card{
        padding: 10px 15px;
    }
    
    .total-profit-card>.money-div{
        font-size: 2.8em;
    }
}