body, html{
    margin: 0;
    height: 100%;
}

.container{
    height: 100%;
}

.error-page-main-div{
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/taxi-minimal.jpg');
    background-position: center -50px;
    background-size: contain;
    color: white;
    height: 100%;
}

.error-sub-title p{
    font-size: xx-large;
}

.error-title p{
    font-size: x-large
}

.go-to-home-btn{
    padding: 18px 36px;
    border: 0;
    border-radius: 25px;
}

@media screen and (max-width:1017px){
    .error-page-main-div{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0px;
    }

    .error-sub-title p{
        font-size: x-large;
    }
}